<app-menu></app-menu>

<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
          <th>Nom</th>
          <th>Description</th>
          <th>Statut</th>
        </thead>
        <tr>
          <td>{{ project.nom }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.status }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
